/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */


/* sidebar */
.rli-sideBar {
    background-color: #282828 !important;
}
.sidebar {
    background-color: #282828 !important;
}

/* sidebar folders list */
.folders .list-item-container:hover {
  background-color: #77cc88 !important;
}
.folders .list-item-container:focus {
  background-color: #77cc88 !important;
}
.folders .list-item-container:active {
  background-color: #119955
 !important;
}

.folders.expanded > .list-item-container.selected,
.tags > .list-item-container.selected {
  background-color: #119955
 !important;
}


/* search icon */
span.icon-search {
	color: #119955
 !important;
}
span.icon-search:hover {
	color: #77cc88 !important;
}
/* clear search icon */
div.resizableLayoutItem.rli-noteList > div > div > div > div > div > button span {
	color: #119955
 !important;
}
div.resizableLayoutItem.rli-noteList > div > div > div > div > div > button span:hover {
	color: #77cc88 !important;
}

/*search result button */
div.resizableLayoutItem.rli-editor > div > div > div > div > button {
	background-color: #119955
 !important;
}
div.resizableLayoutItem.rli-editor > div > div > div > div > button:hover {
	background-color: #77cc88 !important;
}

/* sort order buttons */
button.sort-order-field-button span,
button.sort-order-reverse-button span {
	color: #119955
 !important;
}
button.sort-order-field-button span:hover,
button.sort-order-reverse-button span:hover {
	color: #77cc88 !important;
}


/* new todo/note buttons */
button.new-todo-button, 
button.new-note-button {
	background-color: #119955
 !important;
}
button.new-todo-button:hover,
button.new-note-button:hover {
	background-color: #77cc88 !important;
}
button.new-todo-button span:hover,
button.new-note-button span:hover {
	color: #1D2020 !important;
}

div.CodeMirror span.cm-url {
        color: #a6ffa6 !important;
        opacity: 0.5;
}
div.CodeMirror span.cm-link-text {
        color: #a6ffa6 !important;
}
